@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html {
    font-family: 'Ubuntu', sans-serif;
}

.banner {
    background: rgb(255,255,255);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: rgba(7,46,51,1);
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    color: white;
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: rgba(7,46,51,1);
    border: none;
    background: #fff;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

  .contact-area {
    background: rgba(7,46,51,1);
    height: 80vh;
    text-align: center;
    width: 50vh;
    border-radius: 30px;
}

.damn-btn {
    background: rgba(7,46,51,1);
    padding: 15px 35px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
    transform-origin: left;
    border: rgba(7,46,51,1) 3px solid;
  }

  .damn-btn:hover {
    background: transparent;
    text-decoration: none;
    color: rgba(7,46,51,1);
    
  }


  .mobile-menu {
    color: white;
  }


  .mobile-menu:hover {
    color: #fff;
    transition: 0.5s;
}