@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html {
    font-family: 'Ubuntu', sans-serif;
}
  

.mobile-menu {
    color: white;
  }


  .mobile-menu:hover {
    color: #fff;
    transition: 0.5s;
}